<app-admin-nav></app-admin-nav>
<section class="row">
  <div class="col-12 col-md-9 mx-auto">
    <h1 class="mt-2 text-center">Gestion des Collections</h1>
    <button
      routerLink="/add-model"
      class="btn btn-success btn-sm"
      mdbWavesEffec
    >
      Ajouter
    </button>
    <!--Collection List-->
    <table class="table table table-striped my-3 text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Modeles</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let model of modelList
              | slice: (currentPage - 1) * pageSize:currentPage * pageSize
          "
        >
          <td>{{ model?.id }}</td>
          <td>{{ model?.name }}</td>
          <td>{{ model?.brand["name"] }}</td>
          <td class="d-flex justify-content-around">
            <button
              routerLink="/edit-model/{{ model.id }}"
              class="btn btn-info"
            >
              Editer
            </button>
            <button (click)="deleteModel(model.id)" class="btn btn-danger">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Pagination-->
    <div class="row">
      <div class="col-10 col-md-6 mx-auto">
        <ngb-pagination
          [collectionSize]="20"
          [pageSize]="pageSize"
          [(page)]="currentPage"
          size="md"
          class="mx-auto"
        ></ngb-pagination>
      </div>
    </div>
    <button routerLink="/admin" class="btn btn-dark" mdbWavesEffect>
      Retour
    </button>
  </div>
</section>
