<app-admin-nav></app-admin-nav>

<section class="row justify-content-center">
  <h1 class="mb-2 text-center">Ajouter une Collection</h1>

  <div class="col-12 col-md-6">
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
      <div class="md-form form-group">
        <label for="formName" style="font-size: 16px">Collection</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          id="formName"
          placeholder="Saisissez une collection"
        />
      </div>
      <div formGroupName="brand">
        <label for="brandid" class="mr-4">Marque</label>
        <select
          formControlName="id"
          id="brandid"
          class="browser-default custom-select"
        >
          <option [value]="b.id" *ngFor="let b of brands">
            {{ b.name }}
          </option>
        </select>
      </div>

      <!--Gestion des erreurs-->
      <ul *ngIf="submitted">
        <li *ngIf="modelForm.controls['name']?.errors?.required">
          Le champs Modele est vide ou incorrect
        </li>
      </ul>

      <!--Submit-->
      <button type="submit" class="btn btn-success btn-sm my-2">Ajouter</button>
    </form>
    <button routerLink="/models" class="btn btn-dark btn-sm">Retour</button>
  </div>
</section>
