<app-admin-nav></app-admin-nav>

<section class="row">
  <div class="col-12 col-md-9 mx-auto">
    <h1 class="mt-2 text-center">Gestion des marques</h1>

    <!--Add Brand-->
    <button routerLink="/add-brand" class="btn btn-success btn-sm">
      Ajouter
    </button>

    <!--Brands List-->
    <table class="table table table-striped my-3 text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let brand of brandList
              | slice: (currentPage - 1) * pageSize:currentPage * pageSize
          "
        >
          <td>{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
          <td class="d-flex justify-content-around">
            <button
              routerLink="/edit-brand/{{ brand.id }}"
              class="btn btn-info btn-sm"
            >
              Editer
            </button>
            <button
              (click)="deleteBrand(brand.id)"
              class="btn btn-danger btn-sm"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!--Pagination-->
    <div class="row">
      <div class="col-10 col-md-6 mx-auto">
        <ngb-pagination
          [collectionSize]="20"
          [pageSize]="pageSize"
          [(page)]="currentPage"
          size="md"
          class="mx-auto"
        ></ngb-pagination>
      </div>
    </div>

    <button routerLink="/admin" class="btn btn-dark btn-sm">Retour</button>
  </div>
</section>
