<section class="row">
  <div class="col-12 col-md-9 mx-auto">
    <h1 class="mt-5">Gestion des marques</h1>
    <button routerLink="/add-brand" class="btn btn-success" mdbWavesEffec>
      Ajouter
    </button>
    <table class="table table table-striped my-3 text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-brand *ngFor="let brand of brandList">
          <td>{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
          <td class="d-flex justify-content-around">
            <button
              routerLink="/edit-brand/{{ brand.id }}"
              class="btn btn-info"
            >
              Editer
            </button>
            <button (click)="deleteBrand(brand.id)" class="btn btn-danger">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button routerLink="/admin" class="btn btn-dark" mdbWavesEffec>
      Retour
    </button>
  </div>
</section>
