<app-admin-nav></app-admin-nav>
<section class="row">
  <div class="col-12 col-md-9 mx-auto">
    <h1 class="mt-2 text-center">Gestion des Boutiques</h1>
    <button routerLink="/add-skateshop" class="btn btn-success btn-sm">
      Ajouter
    </button>
    <!--Skateshops List-->
    <table class="table table table-striped my-3 text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Dirigeant</th>
          <th>Telephone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let skateshop of skateshopList
              | slice: (currentPage - 1) * pageSize:currentPage * pageSize
          "
        >
          <td>{{ skateshop?.id }}</td>
          <td>{{ skateshop?.name }}</td>
          <td>{{ skateshop.professional["email"] }}</td>
          <td>{{ skateshop?.phone }}</td>
          <td class="d-flex justify-content-around">
            <button
              routerLink="/edit-skateshop/{{ skateshop.id }}"
              class="btn btn-info btn-sm"
            >
              Editer
            </button>
            <button
              (click)="deleteSkateshop(skateshop.id)"
              class="btn btn-danger btn-sm"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Pagination-->
    <div class="row">
      <div class="col-10 col-md-6 mx-auto">
        <ngb-pagination
          [collectionSize]="20"
          [pageSize]="pageSize"
          [(page)]="currentPage"
          size="md"
          class="mx-auto"
        ></ngb-pagination>
      </div>
    </div>
    <button routerLink="/admin" class="btn btn-dark btn-sm">Retour</button>
  </div>
</section>
