<app-admin-nav></app-admin-nav>

<section class="row">
  <div class="col-12 mx-auto">
    <h1 class="mt-2 text-center">Gestion des Annonces</h1>

    <!--Add advert-->
    <button routerLink="/add-advert" class="btn btn-success btn-sm">
      Ajouter
    </button>

    <!--Advert List-->
    <table class="table table table-striped my-3 text-center">
      <thead class="thead-dark">
        <tr>
          <th>Ref</th>
          <th>Crée le</th>
          <th>Boutique</th>
          <th>Modele</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let advert of advertList
              | slice: (currentPage - 1) * pageSize:currentPage * pageSize
          "
        >
          <td>{{ advert?.id }}</td>
          <td>{{ advert?.released_at | date: "dd/MM/yyyy" }}</td>
          <td>{{ advert?.skateshop["name"] }}</td>
          <td>
            {{ advert?.model["name"] }} ({{ advert.model["brand"]["name"] }})
          </td>
          <td>{{ advert?.price }}€</td>
          <td class="d-flex justify-content-around">
            <button
              routerLink="/edit-advert/{{ advert.id }}"
              class="btn btn-info"
            >
              Editer
            </button>
            <button (click)="deleteAdvert(advert.id)" class="btn btn-danger">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!--Pagination-->
    <div class="row">
      <div class="col-10 col-md-6 mx-auto">
        <ngb-pagination
          [collectionSize]="40"
          [pageSize]="pageSize"
          [(page)]="currentPage"
          size="md"
          class="mx-auto"
        ></ngb-pagination>
      </div>
    </div>

    <button routerLink="/admin" class="btn btn-dark">Retour</button>
  </div>
</section>
