<nav class="row text-light mt-1">
  <div class="col-12 col-md-10 mx-auto flex-wrap">
    <ul class="d-flex justify-content-center flex-wrap">
      <li>
        <a routerLink="/admin" class="btn btn-dark btn-sm">accueil Admin</a>
      </li>

      <li>
        <a routerLink="/brands" class="btn btn-dark btn-sm"
          >Gestion des Marques</a
        >
      </li>

      <li>
        <a routerLink="/models" class="btn btn-dark btn-sm"
          >Gestion des Collection</a
        >
      </li>

      <li>
        <a routerLink="/adverts" class="btn btn-dark btn-sm"
          >Gestion des Annonces</a
        >
      </li>

      <li>
        <a routerLink="/skateshops" class="btn btn-dark btn-sm"
          >Gestion des Boutiques</a
        >
      </li>

      <li>
        <a routerLink="/admin" class="btn btn-dark btn-sm"
          >Gestion des Professionnel</a
        >
      </li>
    </ul>
  </div>
</nav>
